<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionStr"
			 connectionString="data source=HP-HIKE-444\SQLEXPRESS; database=ado_DB; integrated security=SSPI"
			 providerName="System.Data.sqlclient"/>
	</connectionStrings>
	
</configuration>	